.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    background-color: rgb(68, 68, 68);
    padding: 20px;
    margin-bottom: 100px;
    z-index: 100;
}

.header-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: space-between;
}

.title {
    color: #fff;
}
.timer, .count{
    font-weight: 900;
}